@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

small {
  font-size: inherit;
}

body {
  font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
  color: var(--main-text-color);
}

/* common */
:root {
  --main-text-color : #080808;
  --footer-title-color : #313131;
  --footer-text-color : #838383;
  --footer-border-color : #ddd;
}

/* layout */
.inner {
  padding: 0 16px;
}
.clearfix::after, 
.clearfix::before {
  content: '';
  display: block;
  clear: both;
} 

@media screen and (min-width : 768px) {
  .inner {
    max-width: 1000px;
    margin: 0 auto;
    outline: 1px dotted red;
  }
}



